Repository nitk-nest/NeST: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test docs, release docs, push to gitlab registry

test docs:
  image: $CONTAINER_TEST_CI_IMAGE
  stage: test
  script:
  - git fetch --tags
  - pip install .
  - pip install -r docs/doc_requirements.txt
  - make -C docs multiversion
  - TAG=$(git tag | tail -1)
  - echo "<meta http-equiv=\"refresh\" content=\"0; URL=./$TAG/index.html\">" > docs/build/html/index.html
  ...

release docs:
  stage: release
  tags:
  - nest-website
  script:
  - cp -rv docs/build/html/* /var/www/html/nest-docs/docs

push to gitlab registry:
  tags:
  - dind-runner
  services:
  - docker:dind
  stage: release
  script:
  - docker login -u $CI_DEPLOY_USERNAME -p $CI_DEPLOY_PASSWORD $CI_REGISTRY
  - docker pull $CONTAINER_TEST_CI_IMAGE
  - docker tag $CONTAINER_TEST_CI_IMAGE $CONTAINER_TEST_DEFAULT_IMAGE
  - docker push $CONTAINER_TEST_DEFAULT_IMAGE

experiment: Support setting TCP module parameters
  nest/clean_up.py
  nest/config.json
  nest/engine/tcp_modules.py
  nest/experiment/experiment.py
  nest/experiment/run_exp.py
Due: test docs, release docs

example: Add example for setting Cubic parameters
  examples/tcp/tcp-cubic-parameters-point-to-point-3.py
  nest/clean_up.py
Due: test docs, release docs

Add test for TCP module params
  nest/tests/test_experiment.py
Due: test docs, release docs

nest: Improve TCP module parameters implementation
  examples/tcp/tcp-cubic-parameters-point-to-point-3.py
  nest/clean_up.py
  nest/engine/__init__.py
  nest/engine/tcp_modules.py
  nest/experiment/run_exp.py
  nest/tests/test_experiment.py
Due: test docs, release docs

CI: Change gitlab coverage syntax for cobertura
  .gitlab-ci.yml
Due: none

utils: Add option to send input to examples
  utils/examples_stdin.json
  utils/run_examples.py
Due: none

routing: add null check for config dir deletion
  nest/routing/routing_helper.py
Due: test docs, release docs

examples: Fix static routing examples and README
  examples/routing/static-routing/README.md
  examples/routing/static-routing/static-routing-point-to-point-2.py
  examples/routing/static-routing/static-routing-point-to-point-3.py
  examples/routing/static/README.md
Due: none

examples: Update README of routing examples
  examples/routing/README.md
Due: none

lint: Ignore trailing whitespace in md files
  .pre-commit-config.yaml
Due: none

examples: Do not add notes as headings in markdown
  examples/config-options/README.md
  examples/ipv6/README.md
Due: none

Configure SAST in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

Configure Dependency Scanning in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

topology: Qdisc name validation is added
  nest/topology/interface.py
Due: test docs, release docs

topology: Segregate interface and device files
  nest/experiment/experiment.py
  nest/tests/test_topology.py
  nest/topology/device/__init__.py
  nest/topology/device/device.py
  nest/topology/device/ifb.py
  nest/topology/device/traffic_control.py
  nest/topology/device/veth_end.py
  nest/topology/interface/__init__.py
  nest/topology/interface/base_interface.py
  nest/topology/interface/interface.py
  nest/topology/network.py
  nest/topology/node.py
  nest/topology/switch.py
  nest/topology/veth_end.py
Due: test docs, release docs

engine: Add t_shark functionality at engine level
  nest/engine/__init__.py
  nest/engine/t_shark.py
Due: test docs, release docs

topology: Add check if tshark is installed
  nest/topology/node.py
Due: test docs, release docs

examples: Add packet capture example
  examples/packet-operations/packet-capture-2-point-to-point-3.py
  nest/engine/t_shark.py
  nest/topology/node.py
Due: test docs, release docs

topology: Add packet capture feature at node level
  nest/clean_up.py
  nest/topology/node.py
Due: test docs, release docs

tests: Add test case for packet capture
  nest/tests/test_topology_packet_ops.py
Due: test docs, release docs

dockerfile: Add tshark to the docker
  Dockerfile
  nest/engine/t_shark.py
  nest/topology/node.py
Due: test docs, release docs, push to gitlab registry

exception.py and exceptions.py are merged
  nest/exception.py
  nest/exceptions.py
  nest/routing/routing_helper.py
  nest/routing/zebra.py
Due: test docs, release docs

test: Add test cases for iperf3 server
  nest/tests/test_iperf3_server_options.py
Due: test docs, release docs

nest: Add iperf3 server options
  examples/udp/udp-set-server-options.py
  nest/engine/iperf3.py
  nest/experiment/experiment.py
  nest/experiment/pack.py
  nest/experiment/parser/iperf3.py
  nest/experiment/results.py
  nest/experiment/run_exp.py
Due: test docs, release docs

nest: Enable iperf3 server and client options
  examples/udp/udp-set-server-options.py
  nest/engine/iperf3.py
  nest/experiment/experiment.py
  nest/experiment/parser/iperf3.py
  nest/experiment/run_exp.py
  nest/experiment/tools.py
  nest/tests/test_iperf3_server_options.py
Due: test docs, release docs

examples: Add example for delay distribution
  examples/packet-operations/packet-delay-distribution-point-to-point-3.py
  nest/exception.py
  nest/input_validator/metric.py
  nest/tests/test_topology_packet_ops.py
  nest/topology/interface/base_interface.py
Due: test docs, release docs

topology: Added delay distribution API
  nest/exception.py
  nest/input_validator/metric.py
  nest/topology/interface/base_interface.py
Due: test docs, release docs

tests: Add test case for delay distribution
  nest/tests/test_topology_packet_ops.py
Due: test docs, release docs

tests: Unit test for enable and disable interface
  nest/tests/test_topology.py
Due: test docs, release docs

topology: API to enable network interface
  nest/tests/test_topology.py
  nest/topology/interface/base_interface.py
Due: test docs, release docs

topology: API to disable network interface
  nest/topology/interface/base_interface.py
Due: test docs, release docs

topology: Update enable/disable API
  nest/tests/test_topology.py
  nest/topology/interface/base_interface.py
Due: test docs, release docs

experiment: validate the names of TCP algorithms
  nest/experiment/experiment.py
Due: test docs, release docs

routing: Add multiple address support for LDP
  examples/routing/mpls/mpls-ldp-ce-pe-p-routers-multi-address.py
  nest/routing/ldp.py
  nest/routing/routing_helper.py
  nest/routing/zebra.py
Due: test docs, release docs

tests: Add tests for multiple address routing
  nest/tests/test_address_helper.py
  nest/tests/test_routing_frr_ipv6.py
  nest/tests/test_routing_frr_multi_address.py
  nest/tests/test_routing_quagga.py
  nest/tests/test_routing_quagga_ipv6.py
  nest/tests/test_routing_quagga_multi_address.py
Due: test docs, release docs

routing: Add support for multiple address routing
  nest/routing/isis.py
  nest/routing/ospf.py
  nest/routing/rip.py
  nest/routing/route_daemons.py
  nest/routing/routing_helper.py
  nest/routing/zebra.py
Due: test docs, release docs

examples: Add multiple address routing examples
  examples/routing/frr/frr-rip-point-to-point-multi-address.py
  examples/routing/quagga/quagga-rip-point-to-point-multi-address.py
Due: none

tests: validate packet duplication test case
  nest/tests/test_topology_packet_ops.py
Due: test docs, release docs

tests: fix isis test case in quagga multi addr
  nest/tests/test_routing_quagga_multi_address.py
Due: test docs, release docs

Add CODEOWNERS file
  CODEOWNERS
Due: none

Path conditions:
  test docs: any of: docs/**/*, nest/**/*
  release docs: any of: docs/**/*, nest/**/*
  push to gitlab registry: any of: Dockerfile
